<div class="icongroup">

    <img class="search_image" style="margin-right: 10px;
      height: 20px;" src="../../../assets/images/add_alert_black_24dp.svg">
    <img class="search_image" style="margin-right: 10px;
      height: 20px;" src="../../../assets/images/person_add_alt_black_24dp.svg">
    <img class="search_image" style="margin-right: 10px;
      height: 20px;" src="../../../assets/images/palette_black_24dp.svg">
    <img class="search_image" style="margin-right: 10px;
      height: 20px;" src="../../../assets/images/image_black_24dp.svg">
    <img class="search_image" style="margin-right: 10px;
      height: 20px;" src="../../../assets/images/archive_black_24dp.svg">
    <img class="search_image" style="margin-right: 10px;
      height: 20px;" src="../../../assets/images/more_vert_black_24dp.svg" [matMenuTriggerFor]="more">
    <mat-menu #more="matMenu">
      <button mat-menu-item>Delete note</button>
    </mat-menu>
  
  </div>