<div fxLayout="row wrap" fxLayoutGap="20px grid" style="padding-top:2%;padding-left:1%;width:100%;padding-left:4%;padding-right:4%;">
    <div *ngFor="let note of childMessage"  >
        <mat-card class="card" [style.background]="note.color">
            <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
                <div (click)="openDialog(note)">{{note.title}}</div>
                <div><img class="pin" src="../../../assets/images/push_pin_black_24dp.svg"></div>
            </mat-card-title>
            <mat-card-subtitle (click)="openDialog(note)">
                {{note.body}}
            </mat-card-subtitle>
            <div class="icons">
                <app-icons [noteObject]="note" (iconstodisplay)="recievefromiconstodisplaycard($event)"></app-icons>
            </div>
        </mat-card>
    </div>
</div>