<div class="group-form">
    <div class="form-content" fxLayout="row" fxLayout.xs="column">
       <!-- <div class="form"> -->
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
             
        <!-- <div class="form-head1">FundooNotes</div> -->
        <h1 class="form-head1" fxLayoutAlign="center">
            <span class="f">F</span>
            <span class="u">u</span>
            <span class="n">n</span>
            <span class="d">d</span>
            <span class="o1">o</span>
            <span class="o2">o</span>
        </h1>
        <div class="form-head" fxLayoutAlign="center">Sign in</div>
        <h3 class="form-head2" fxLayoutAlign="center">Use your FundooNote Account</h3>
        <div class="row">
            <p>
              <mat-form-field class="form-cd-rm" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error>enter your email</mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="form-cd-rm" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" formControlName="password">
                <mat-error>enter your Password</mat-error>
              </mat-form-field>
            </p>
          </div>
          <div class="message1">
            <a routerLink="/forgot">Forgot Password? </a>
          </div>
          <div class="message">
            <p> your computer? Use Guest mode to sign in privately.</p>
            <p class="message1">Learn more </p>
          </div>
          <!-- <p> your computer? Use Guest mode to sign in privately.</p> -->
          <div class="btn">
            <a mat-button routerLink="/registration">Create Account</a>
            <button mat-raised-button>Next</button>
          </div>
        </form>
       <!-- </div> -->
    </div>
</div>       